fastapi
uvicorn[standard]
python-binance
pydantic
SQLAlchemy
psycopg2-binary
python-dotenv
pytest
pytest-cov
httpx
requests
beautifulsoup4
yfinance
protobuf>=5.29.6 # not directly required, pinned by Snyk to avoid a vulnerability
